
.h44{
    font-family: 'LMMono10', sans-serif;
    font-family: 'LMMonoCaps10', sans-serif;
    font-family: 'LMMonoLt10', sans-serif;
    font-family: 'LMMonoLtCond10', sans-serif;
    font-family: 'LMMonoProp10', sans-serif;
    font-family: 'LMMonoPropLt10', sans-serif;
    font-family: 'LMMonoSlant10', sans-serif;

}
.h55{
    letter-spacing: 1px;

}
.h77{
margin: -24px;
}